{
	"parser": "babel-eslint",
	"extends": [
		"standard",
		"standard-react"
	],
	"env": {
		"node": true,
		"jest": true,
		"browser": true
	},
	"parserOptions": {
		"ecmaVersion": 2020,
		"ecmaFeatures": {
			"legacyDecorators": true,
			"jsx": true
		}
	},
	"ignorePatterns": [
		"**/*.min.js",
		"**/node_modules",
		"**/dist"
	],
	"settings": {
		"react": {
			"version": "18"
		}
	},
	"rules": {
		"space-before-function-paren": 0,
		"react/prop-types": 0,
		"react/jsx-handler-names": 0,
		"react/jsx-fragments": 0,
		"react/no-unused-prop-types": 0,
		"import/export": 0,
		"indent": [
			1,
			"tab",
			{
				"ignoredNodes": [
					"TemplateLiteral"
				],
				"SwitchCase": 1
			}
		],
		"no-tabs": 0,
		"semi": [
			2,
			"always"
		],
		"quotes": [
			2,
			"single"
		],
		"no-unused-vars": 0,
		"camelcase": 1,
		"prefer-const": 1,
		"react/jsx-no-bind": 1,
		"no-prototype-builtins": 1,
		"no-extend-native": 0
	}
}
